:root {
    --text-color: #757575;
    --acent-color: #2196F3;
    --title-color: #212121;
    --font-color: #FFFFFF;
    --button-acent: #188CE8;
    --button-background: #F5F4FA;
    --project-border: #EEEEEE;
}

/* fonts */

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    color: var(--text-color);
}

/* header */
.header {
    background-color: var(--font-color);
}
/* LOGO */
.header .logo, .footer .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.header .logo {
    color: #000000;
}

.footer .logo {
    color: var(--font-color);
}

.logo-span {
    color: var(--acent-color);
}

/* nav - links */
.list-nav {
    list-style-type: none;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:visited {
    color: var(--title-color);
}

.link:hover, .link:focus {
    color: var(--acent-color);
}

.link.active {
    color: var(--acent-color)
}

/* header contact links */
.header-contact-list {
    list-style-type: none;
}

.contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.contact:hover, .contact:focus {
    color: var(--acent-color);
}


/* main */
/* hero */

.hero {
    background-color: #2F303A;
}

.main-title {
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color);
}

/* button in hero */

.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-color);
    background: var(--acent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--acent-color);
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--button-acent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--button-acent);
}

/* F E A T U R E S section */


/*  !!!!!!!!  WE   NEED   TO   HIDE   THIS!!!!!!!!!  */
.hiden-title {
    display: none;
    
}

.features-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    list-style-type: none;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

/* E X A M P L E S section */

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.examples-list {
    list-style-type: none;
}

/*  T E A M   section */

.team {
    background-color: var(--button-background);
}

.team-list {
    list-style-type: none;
}

.team-list-item {
    background-color: var(--font-color);
}

.team-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


/* F O O T E R */
.footer {
    background-color: #2F303A;
}

.address-list {
    list-style-type: none;
}

.address-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--font-color);
}

.footer-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



/*  P     O     R     T     F     O     L     I     O  */
.button-list {
    list-style-type: none;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    background: var(--button-background);
    border-radius: 4px;
    border-color: var(--button-background);
    cursor: pointer;

}

.button:hover, .button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-color);

    background: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: var(--acent-color);

}

/* P R O J E C T   L I S T */

.projects-list {
    list-style-type: none;
}

.projects-list-item {
    border: 1px solid var(--project-border);
    background-color: var(--font-color);
}

.projects-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--text-color);
}
